.sections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}
#QuemSomos {
    margin-top: 80px;
    margin-bottom: 60px;
}

.sections .article-image img {
    width: 750px;
    height: 440px;
    border-radius: 6px;
}

.title-article {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--color-text);
}

.text-article {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.0rem;
}

.article-card {
    width: 686px;
}

@media (max-width: 320px) {
    .sections {
        width: 100%;
    }
    
    #QuemSomos {
        margin-top: 50px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .sections .article-card {
        width: 90% !important;
        height: auto !important;
    }

    .sections .article-image img {
        width: 250px;
        height: 192px;
    }

    .sections .article-card .title-article {
        font-size: 2rem;
        line-height: 2.8rem;
    }
    
    .text-article {
        font-size: 1.6rem;
        line-height: 3rem;
        text-align: justify;
    }

    #Filantropia {
        margin-top: 50px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}