header {
    width: 100vw;
    height: 78px;
    display: flex;
    background-color: var(--bg-primary);
    align-items: center;
}
#logo-text {
    font-family: 'Righteous', cursive;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 2.4rem;
    font-weight: 600;
    justify-content: center;
    color: var(--colo-text);
}

.menu > li {
    margin-left: 40px;
}

.logo {
    width: 265px;
    height: 50px;
}
