header {
  width: 100vw !important;
  height: 78px;
  display: flex;
  background-color: var(--bg-primary);
  align-items: center;
  justify-content: space-around;
}

.logo-text {
  position: absolute;
  font-size: 4.8rem;
  font-family: "Righteous";
  color: #2b2f33;
}

header #hamburger {
  position: relative;
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 30px;
  align-items: center;
  left: 120px;
}

header #hamburger-close {
  display: none;
}

.menu-content {
  display: none;
  width: 100vw;
  height: auto;

  flex-direction: column;
}

.menu-content a {
  cursor: pointer;
  text-decoration: none;
}

.sub-menu {
  padding: 10px;
  width: 100vw;
  height: 30px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 20px;
}

.menu-content div:hover {
  background-color: #ffca99;
}
